<div *ngIf="note">
  <h2>
    {{note.title}}
  </h2>
  <p>
    {{note.id}}
  </p>
  <p>
    {{note.description}}
  </p>

  <button type="button" (click)="delete(note)" class="btn btn-primary">Delete</button>
  <button type="button" (click)="update(note)" class="btn btn-primary">Edit</button>


  <div class="row" [hidden]="!editBtnClicked">
  <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <form #noteForm='ngForm'>
      <div class="form-group">
        <label for="note-title">
          <h3>
            Note Title
          </h3>
        </label>
        <input type="text"
        class="form-control" id="title" 
        required name="title" placeholder="Note Title"
        #title='ngModel'
        [(ngModel)]='note.title'>
        <div [hidden]='title.valid || title.pristine'
        class="alert alert-danger">
          Title of the note is required
        </div>
      </div>

      <div class="form-group">
        <label for="description">
          <h3>
            Describe Your Note
          </h3>
        </label>
        <textarea 
        class="form-control" id="description" required name="description" 
        #description='ngModel'
        [(ngModel)]='note.description'
        rows="3"></textarea>
        <div [hidden]='description.valid || description.pristine'
        class="alert alert-danger">
          Description of the note is required
        </div>
      </div>
      <button type="submit" (click)="update(note); onUpdateClicked()" class="btn btn-primary" [disabled]="!noteForm.form.valid" >Update Note</button>

      </form>
  </div>
</div>
</div>


